<!--
   - Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
   - See LICENSE in the project root for license information.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.graph.connect">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".Connect"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.microsoft.graph.connect.ConnectActivity"
            android:label="@string/app_name_short"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.microsoft.graph.connect.SendMailActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.microsoft.graph.connect.ConnectActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.microsoft.graph.connect.ConnectActivity" />
        </activity>

        <activity
            android:name="com.lnikkila.oidc.authenticator.AuthenticatorActivity"
            android:theme="@style/Theme.OidcLib" >
        </activity>

        <activity
            android:name="com.lnikkila.oidc.authenticator.OIDCClientConfigurationActivity" >
        </activity>

        <service android:name="com.lnikkila.oidc.authenticator.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

    </application>

</manifest>
